@model User
@{ 
    ViewBag.Title = "修改密码";
}

@Html.Partial("~/Views/Default/Account/Header.cshtml")
<div class="container page-container vertical-center">
    <div class="row">
        <div class="col-md-9">
            <h2>修改密码</h2>
            <form class="form col-md-6" asp-controller="Account" asp-action="Password" asp-route-id="@Model.Id" method="post">
                <input type="hidden" name="key" value="@ViewBag.Key" />
                <p>
                    <label>原密码</label>
                    <input type="password" class="form-control" placeholder="密码至少6位，字符不限" name="oldpwd" required>
                </p>
                <p>
                    <label>新密码</label>
                    <input type="password" class="form-control" placeholder="密码至少6位，字符不限" name="password" required>
                </p>
                <p>
                    <label>密码重复</label>
                    <input type="password" class="form-control" placeholder="请确认刚刚输入的密码" name="confirm" required>
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">修改密码</button>
            </form>
        </div>
        @Html.Partial("~/Views/Default/Account/Sidebar.cshtml")
    </div>
</div>