@model User
@{
    ViewBag.Title = "第三方平台绑定";
}

@Html.Partial("~/Views/Default/Account/Header.cshtml")
<link href="~/assets/default/styles/datetimepicker.css" rel="stylesheet" />
<script src="~/assets/default/scripts/jquery.datetimepicker.js"></script>
<div class="container page-container vertical-center">
    <div class="row">
        <div class="col-md-9">
            <h2>第三方平台绑定</h2>
            <form class="form col-md-8" asp-controller="Account" asp-action="Third" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
                <p>
                    <label><a target="_blank" href="https://github.com">GitHub</a></label>
                    <input type="text" asp-for="GitHub" class="form-control">
                </p>
                <p>
                    <label><a target="_blank" href="http://www.codeplex.com/">Code Plex</a></label>
                    <input type="text" asp-for="CodePlex" class="form-control">
                </p>
                <p>
                    <label><a target="_blank" href="http://git.oschina.net/">Git@OSC</a></label>
                    <input type="text" asp-for="GitOSC" class="form-control">
                </p>
                <p>
                    <label><a target="_blank" href="http://code.csdn.net/">CSDN Code</a></label>
                    <input type="text" asp-for="GitCSDN" class="form-control">
                </p>
                <p>
                    <label><a target="_blank" href="https://coding.net/">Coding.Net</a></label>
                    <input type="text" asp-for="CodingNet" class="form-control">
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">保存资料</button>
            </form>
        </div>
        @Html.Partial("~/Views/Default/Account/Sidebar.cshtml")
    </div>
</div>