@{
    Layout = "_LayoutHome";
    ViewBag.Title = "首页";
}
<div class="jumbotronf">
    <div class="container">
        <h1 class="sharex-header">Mano Cloud</h1>
        <p>属于码农的云端简历平台。</p>
        <p>
            <a asp-action="Index" asp-controller="Account" class="sharex-download btnd btnd-1 btnd-1d">Start</a>
            <a href="https://github.com/CodeComb/ManoCloud" title="GitHub" class="btnd btnd-1 btnd-1d">Source</a>
            <a href="#" class="btnd btnd-1 btnd-1d">Donate</a>
        </p>
        <p class="release-info"></p>
    </div>
</div>
<div class="after-header">
    <p>根据您的第三方Git源，获取您的项目经历，自动生成您所掌握的技术以及代码量，自选模板，生成精美在线云简历！</p>
</div>
<div id="sharex-screenshot" class="visible-md visible-lg"><img src="~/assets/default/images/screenshot.png" alt="ShareX screenshot" /></div>
<div class="feature">
    <div class="container">
        <div class="row row-margin-bottom">
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-heart icon-margin-bottom"></span></p>
                <p>免费、开源、可绑定域名、无广告</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-device-desktop icon-margin-bottom"></span></p>
                <p>兼容IE、Chrome、手机版等</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-device-camera icon-margin-bottom"></span></p>
                <p>拖拽上传图片、丰富您的简历内容</p>
            </div>
        </div>
        <div class="row row-margin-bottom">
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-zap icon-margin-bottom"></span></p>
                <p>快捷高效、分布式引擎</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-cloud-upload icon-margin-bottom"></span></p>
                <p>云端存储，保障您的简历高可用度</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-globe icon-margin-bottom"></span></p>
                <p>自动同步Git源，实时更新您的简历</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-tools icon-margin-bottom"></span></p>
                <p>多套模板风格供您选择</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-keyboard icon-margin-bottom"></span></p>
                <p>支持Markdown语法</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <p><span class="mega-octicon octicon-star icon-margin-bottom"></span></p>
                <p>智能分析，可为您统计全球绝大多数编程语言与技术</p>
            </div>
        </div>
    </div>
</div>