@model User
@{ 
    ViewBag.Title = "找回密码";
}
<div class="jumbotron masthead jumbopurple jumbotron-compact">
    <div class="container main_container">
        <h1 class="main_header">
            <a href="javascript:;">找回密码</a>
        </h1>
        <h3>步骤二：设置新密码</h3>
    </div>
</div>
<div class="donate-after-header">
    <div class="container">
        新设置的密码将用作登录码农云平台使用。
    </div>
</div>
<div class="container page-container vertical-center">
    <div class="row">
        <form class="form col-md-6 col-md-offset-3" asp-controller="Account" asp-action="ForgotDetail" method="post">
            <input type="hidden" name="key" value="@ViewBag.Key" />
            <p>
                <label>用户信息</label>
                <br />
                <strong>@Model.UserName &lt;@ViewBag.Email&gt;</strong>
            </p>
            <p>
                <label>密码</label>
                <input type="password" class="form-control" placeholder="密码至少6位，字符不限" name="password" required>
            </p>
            <p>
                <label>密码重复</label>
                <input type="password" class="form-control" placeholder="请确认刚刚输入的密码" name="confirm" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">设置密码</button>
        </form>
    </div>
</div>