@{
    ViewBag.Title = "找回密码";
}
<div class="jumbotron masthead jumbopurple jumbotron-compact">
    <div class="container main_container">
        <h1 class="main_header">
            <a href="javascript:;">找回密码</a>
        </h1>
        <h3>步骤一：验证您的注册时的电子邮箱</h3>
    </div>
</div>
<div class="donate-after-header">
    <div class="container">
        稍后我们将会向您提供的邮箱中发送一封带有找回密码链接的电子邮件，请您收到邮件后按照邮件中提供的提示信息继续完成密码找回！
    </div>
</div>
<div class="container page-container vertical-center">
    <div class="row">
        <form class="form col-md-6 col-md-offset-3" asp-controller="Account" asp-action="Forgot" method="post">
            <p>
                <label>电子邮箱</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="email" required autofocus>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">下一步</button>
        </form>
    </div>
</div>