@model User
@{
    ViewBag.Title = "编辑自我介绍";
}

@Html.Partial("~/Templates/Default/Account/Header.cshtml")
<link href="~/assets/default/styles/datetimepicker.css" rel="stylesheet" />
<script src="~/assets/default/scripts/jquery.datetimepicker.js"></script>
<div class="container page-container vertical-center">
    <div class="row">
        <div class="col-md-9">
            <h2>编辑自我介绍</h2>
            <form class="form" asp-controller="Account" asp-action="Introduction" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
                <div class="markdown-editor-outer">
                    <textarea class="textbox markdown-editor" name="Introduction">@Model.Introduction</textarea>
                    <div class="markdown-editor-bottom">支持Markdown语法、拖拽图片文件至编辑区或直接从剪贴板粘贴可上传图片文件。</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3"><button class="btn btn-lg btn-primary btn-block" type="submit">保存</button></div>
                </div>
            </form>
        </div>
        @Html.Partial("~/Templates/Default/Account/Sidebar.cshtml")
    </div>
</div>