@{ 
    ViewBag.Title = "注册";
}
<div class="jumbotron masthead jumbopurple jumbotron-compact">
    <div class="container main_container">
        <h1 class="main_header">
            <a href="javascript:;">成为 Mano Cloud 会员</a>
        </h1>
        <h3>步骤一：验证您的有效电子邮箱</h3>
    </div>
</div>
<div class="donate-after-header">
    <div class="container">
        该邮箱将用作您登录的凭据，在您丢失密码时，您可以通过该邮箱找回密码。此外绑定邮箱也是作为您第三方Git提交记录的凭据，您需要输入能够接收到邮件的有效电邮地址，稍后我们将会向您提供的邮箱中发送一封带有注册链接的注册信，请您收到邮件后按照邮件中提供的提示信息继续完成注册！
    </div>
</div>
<div class="container page-container vertical-center">
    <div class="row">
        <form class="form col-md-6 col-md-offset-3" asp-controller="Account" asp-action="Register" method="post">
            <p>
                <label>电子邮箱</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="email" required autofocus>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">下一步</button>
        </form>
    </div>
</div>