@model Prompt
@{
    ViewBag.Title = Model.Title;
}
<div class="jumbotron masthead jumbopurple jumbotron-compact">
    <div class="container main_container">
        <h1 class="main_header">
            <a href="javascript:;">@Model.Title</a>
        </h1>
    </div>
</div>
<div class="donate-after-header">
    <div class="container">
        @Model.Details
    </div>
</div>
<div class="container page-container vertical-center">
    <div class="row">
        <p style="text-align:center">
            @if (!string.IsNullOrEmpty(Model.RedirectUrl))
            {
                <a href="@Model.RedirectUrl" class="btn btn-primary ripple home-link">@Model.RedirectText</a>
            }
            @if (!Model.HideBack)
            {
                <a href="javascript:window.history.go(-1);" class="btn btn-info ripple home-link">返回上一页</a>
            }
            <a asp-controller="Home" asp-action="Index" class="btn btn-success ripple home-link">返回首页</a>
        </p>
    </div>
</div>