@{ 
    ViewBag.Title = "FAQ";
}
<div class="jumbotron masthead jumbopurple jumbotron-compact">
    <div class="container main_container">
        <h1 class="main_header">
            <a href="javascript:;">FAQ</a>
        </h1>
    </div>
</div>
<div class="donate-after-header">
    <div class="container">
        下面是一些常见问题与解答
    </div>
</div>
<div class="container page-container vertical-center">
    Null
</div>